body, html { 
    height:100% !important; 
    padding: 0;     
    margin: 0;
}
    
.sidenav {
    position: relative;
    background-color: #1a1a1a;
    height: 900px;
}
#map {
    position: relative;
    height: 900px;
    background-color: aqua;
}

#search-bar {
    background-color: white;
}
